body {
    color: #000;
    background-color: #9a48b3;
    display: flex;
}
.navber {
    background-color:#6a2280;
    position: absolute;
    top: 30px;
    margin-inline: 400px;
    box-shadow: 0px 0px 60px ;
    height: 100px;
    width: 860px;
    border-radius: 15px;
    border: 10px #6d2783 solid;
}
.navber div {
    position: absolute;
    left: 100px;
    top: 35px;
    text-decoration: none;
}
.navber div a {
    padding: 15px 30px;
    font-size: 20pt;
    text-decoration: none;
    color: #000;
}
.navber div a:hover, .navber div a:active {
    color: gray;
}
.logo {
    height: 150px;
    position: absolute;
    top: 20px;
    left: 70px;
    border-radius: 10px;
    box-shadow: 0px 0px 60px #000;;
}
.form img {
    height: 200px;
    width: 355px;
    border-radius: 20px;
}
.form button {
    height: 50px;
    width: 355px;
    background-color: rgb(16, 248, 16);
    border: solid rgb(24, 23, 23);
    border-radius: 10px;
}
.form button a {
    height: 50px;
    width: 355px;
    text-decoration: none;
    color: #000;
}
.form button:hover, .game1 button:active {
    box-shadow: 4px 10px 40px;
}
.game1 {
    box-shadow: 1px 1px 30px;
    background-color: #6d2783;
    height: 300px;
    width: 355px;
    border-radius: 20px;
    position: absolute;
    top: 300px;
    left: 100px;
}

.game2 {
    box-shadow: 1px 1px 30px;
    background-color: #6d2783;
    height: 300px;
    width: 355px;
    border-radius: 20px;
    position: absolute;
    top: 300px;
    left: 475px;
}

.game3 {
    box-shadow: 1px 1px 30px;
    background-color: #6d2783;
    height: 300px;
    width: 355px;
    border-radius: 20px;
    position: absolute;
    top: 300px;
    left: 845px;
}

.game4 {
    box-shadow: 1px 1px 30px;
    background-color: #6d2783;
    height: 300px;
    width: 355px;
    border-radius: 20px;
    position: absolute;
    top: 300px;
    left: 1220px;
}

.game5 {
    box-shadow: 1px 1px 30px;
    background-color: #6d2783;
    height: 300px;
    width: 355px;
    border-radius: 20px;
    position: absolute;
    top: 620px;
    left: 100px;
}

.game6 {
    box-shadow: 1px 1px 30px;
    background-color: #6d2783;
    height: 300px;
    width: 355px;
    border-radius: 20px;
    position: absolute;
    top: 620px;
    left: 475px;
}

.game7 {
    box-shadow: 1px 1px 30px;
    background-color: #6d2783;
    height: 300px;
    width: 355px;
    border-radius: 20px;
    position: absolute;
    top: 620px;
    left: 845px;
}

.game8 {
    box-shadow: 1px 1px 30px;
    background-color: #6d2783;
    height: 300px;
    width: 355px;
    border-radius: 20px;
    position: absolute;
    top: 620px;
    left: 1220px;
}

.game9 {
    box-shadow: 1px 1px 30px;
    background-color: #6d2783;
    height: 300px;
    width: 355px;
    border-radius: 20px;
    position: absolute;
    top: 940px;
    left: 100px;
}

.game10 {
    box-shadow: 1px 1px 30px;
    background-color: #6d2783;
    height: 300px;
    width: 355px;
    border-radius: 20px;
    position: absolute;
    top: 940px;
    left: 475px;
}

.game11 {
    box-shadow: 1px 1px 30px;
    background-color: #6d2783;
    height: 300px;
    width: 355px;
    border-radius: 20px;
    position: absolute;
    top: 940px;
    left: 845px;
}

.game12 {
    box-shadow: 1px 1px 30px;
    background-color: #6d2783;
    height: 300px;
    width: 355px;
    border-radius: 20px;
    position: absolute;
    top: 940px;
    left: 1220px;
}
